<h2 style='text-align: center;'> Hamoye Stage A Quiz Questions </h2>

In [1]:
# importing the pandas library and reading the dataset to a dataframe
import pandas as pd
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [2]:
data.shape

(60943, 12)

In [3]:
# random sampling of the dataset
data.sample(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
55514,226,Uganda,2542,Sugar (Raw Equivalent),5911,Export Quantity,1000 tonnes,127.00,132.00,166.00,136.00,174.00
46345,193,Sao Tome and Principe,2576,Palmkernel Oil,684,Fat supply quantity (g/capita/day),g/capita/day,5.70,5.74,5.72,5.73,5.74
10580,37,Central African Republic,2732,Mutton & Goat Meat,5511,Production,1000 tonnes,24.00,25.00,28.00,28.00,27.00
27794,114,Kenya,2922,Stimulants,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,3.00,4.00,4.00,4.00
36192,137,Mauritius,2516,Oats,684,Fat supply quantity (g/capita/day),g/capita/day,0.05,0.05,0.07,0.09,0.08
7186,35,Cabo Verde,2558,Rape and Mustardseed,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
8187,32,Cameroon,2517,Millet and products,5527,Seed,1000 tonnes,4.00,4.00,4.00,4.00,4.00
40996,147,Namibia,2615,Bananas,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,3.00,2.00,2.00,2.00
20996,74,Gabon,2575,Cottonseed Oil,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2940,53,Benin,2535,Yams,674,Protein supply quantity (g/capita/day),g/capita/day,6.62,6.63,6.85,6.86,7.06

In [4]:
# gettingsome descriptive statistics for each numerical column
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
# getting the unique values in the Element column
data['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [6]:
# getting the unique values in the Item column
data['Item'].unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)

### Answering the quiz questions

> What is the total sum of wine produced in 2015 and 2018 respectively?

In [7]:
# performing a groupby sum aggregation on the item column 
selected_columns = data.groupby('Item').sum().loc['Wine']
wine_2015 = selected_columns.iloc[4]
wine_2018 = selected_columns.iloc[7]
print('The total sum of wine produced in 2015 is', (wine_2015))
print('The total sum of wine produced in 2018 is', (wine_2018))

The total sum of wine produced in 2015 is 4251.81
The total sum of wine produced in 2018 is 4039.32

> What is the total number and percentage of missing data in 2014 to 3 decimal places

In [8]:
missing_count = data['Y2014'].isnull().sum()
total_count = len(data)
missing_percentage = (missing_count / total_count) * 100
print('total number of missing data for 2014:', (missing_count))
print('percentage of missing data for 2014:', round((missing_percentage), 3), '%')

total number of missing data for 2014: 1589
percentage of missing data for 2014: 2.607 %

> What is the total number of unique countries in the dataset?

In [9]:
unique_countries = data['Area'].nunique()
print('There are', (unique_countries), 'unique countries')

There are 49 unique countries

> What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places

In [10]:
print('2017 mean = ' + str(round(data['Y2017'].mean(), 2)))  
print('2017 standard deviation = ' + str(round(data['Y2017'].std(), 2)))

2017 mean = 140.92
2017 standard deviation = 1671.86

> Select columns 'Y2017' and 'Area', perform a groupby operation on area. Which of these areas had the highest sum in 2017?

In [11]:
selected_columns = data[['Y2017', 'Area']]
grouped_data = selected_columns.groupby('Area')['Y2017'].sum()
area_with_highest_sum = grouped_data.idxmax()
print('The area with the highest sum in 2017 is', (area_with_highest_sum))

The area with the highest sum in 2017 is Nigeria

> What is the total Protein supply quantity in Madagascar in 2015?

In [12]:
madagascar_2015 = data[(data['Area'] == 'Madagascar') & (data['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015']
total_protein_supply = madagascar_2015.sum()
print('The total protein supply for Madagascar in 2015 is', round((total_protein_supply), 2))

The total protein supply for Madagascar in 2015 is 173.05

> Which year had the least correlation with 'Element Code'?

In [13]:
correlations = data[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()
least_correlated_year = correlations['Element Code'].abs().idxmin()
print('The year with the least correlation with "Element Code" is', (least_correlated_year))

The year with the least correlation with "Element Code" is Y2016

> Perform a groupby operation on 'Element'. What is the total number of the sum of processing in 2017?

In [14]:
processing_2017 = data.groupby('Element').sum().loc['Processing']['Y2017']
print('The sum of processing in 2017 is', (processing_2017))

The sum of processing in 2017 is 292836.0

> Select columns 'Y2017' and 'Area', perform a groupby operation on 'Area'. Which of these areas had the 7th lowest sum in 2017?

In [15]:
selected_columns = data[['Y2017', 'Area']]
grouped_data = selected_columns.groupby('Area')['Y2017'].sum().reset_index()
sorted_data = grouped_data.sort_values('Y2017')
seventh_lowest_area = sorted_data.iloc[6]['Area']
print('The area with the 7th lowest sum in 2017 is', (seventh_lowest_area))

The area with the 7th lowest sum in 2017 is Guinea-Bissau

> Perform a groupby operation on 'Element'. What year has the highest sum of stock variaion?

In [16]:
stock_variation_sum = data[data['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
highest_stock_variation_year = stock_variation_sum.idxmax(axis=1)[0]
print('The year with the highest sum of stock variation is', (highest_stock_variation_year))

The year with the highest sum of stock variation is Y2014